.button {
  background-color: #b42050;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  border: none;
  width: 100%;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer !important;
  transition: background-color 0.2s ease;
  pointer-events: auto;
}

.button:hover {
  background-color: #961a42 !important;
}